<launch>
        <!-- requires the rosbridge package -->
        <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

        <!-- nodes from this package -->
        <node name="holoLink" pkg="hololens_vis" type="holoLink" />
       <!-- <node name="transformSolver" pkg="hololens_vis" type="optimiseTransforms.py" />-->
       <!-- <node name="retransmitCenter" pkg="hololens_vis" type="rebroadcastTransforms.py" />-->

        <!--    This is a motion capture node that is specific to my work, though any system transmitting the location of a tag mounted on the hololens should work. -->
        <node name="motionCapture" pkg="ros_mocha" type="ros_mocha_node" args="10.0.0.148 10.0.0.133"/>

        <!-- rviz for debugging etc -->
        <node name="rviz" pkg="rviz" type="rviz" />
</launch>
